.footer {
  background-color: rgba(0, 0, 0, 0.21);
  backdrop-filter: blur(20px);
  display: flex;
  min-height: 30vh;
  flex-direction: column;
  width: 100vw;
  justify-content: flex-end;
  align-items: center;
  padding: 1rem;
}

.footer .upper {
  display: flex;
  flex-wrap: wrap;
  /* padding: 2rem; */
  /* justify-content: center; */
  justify-content: space-around;
  min-width: 100vw;
}

.footer .upper h2 {
  font-size: 2rem;
  font-weight: 400;
  margin-bottom: 0.4rem;
}

.footer .upper .first p {
  font-weight: 400;
  /* margin-bottom: 0.4rem; */
}

.footer .upper .links ul li {
  list-style: none;
  margin-left: 0.6rem;
  margin-bottom: 0.2rem;
}

.footer .lower {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer .upper .newseletter input {
  padding: 0.4rem;
  border-radius: 3rem;
  outline: 0;
  border: 0;
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0 15px 35px rgb(0 0 0 / 20%);
  border-radius: 36px;
  backdrop-filter: blur(10px);
  color: #fff;
}
.footer .upper .newseletter input::placeholder{
  color: #fff;
}