@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');

* {
  box-sizing: border-box;
  margin: 0%;
  padding: 0%;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}


:root {
  --Background--color: #1b1b1b;
  --Primary: #aba9a9;
  --Secondary: #f9f9f9;
  --Tertiary: #b02970;
}

/* width */
::-webkit-scrollbar {
  width: 14px;
}

/* Track */
::-webkit-scrollbar-track {
  background: black;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #12b0a0;
  border-radius: 2rem;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: plum;
}

.app {
  /* min-height: 100vh; */
  width: 100vw;
  background-color: var(--Background--color);
  /* background: #ee9ca7; */
  /* fallback for old browsers */
  /* background: -webkit-linear-gradient(to right, #ee9ca7, #ffdde1); */
  /* Chrome 10-25, Safari 5.1-6 */
  /* background: linear-gradient(to right, #ee9ca7, #ffdde1); */
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  /* background-color: #262626; */
  /* background-color: black; */
  background: #36D1DC;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #5B86E5, #36D1DC);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #5B86E5, #36D1DC);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  color: #fff;
  /* position: relative; */
  display: flex;
  /* justify-content: center;
  align-items: center; */
}

.sidebar {
  /* position: relative; */
  width: 14vw;
  min-height: 85vh;
  max-height: 85vh;
  /* height: 100%; */
  padding: 1rem;
  /* left: 0%; */
  /* background-color: #1f2025; */
  display: flex;
  justify-content: center;
  align-items: center;
  /* background: rgba(255, 255, 255, 0.05); */
  /* box-shadow: 0 15px 35px rgb(0 0 0 / 20%); */
  /* border-radius: 36px; */
  /* backdrop-filter: blur(20px); */
  /* background-color: black; */
  /* list-style: none; */
}

.sidebar .main ul li {
  list-style: none;
  /* width: 100%; */
  /* background: rgba(255, 255, 255, 0.05);
  box-shadow: 0 15px 35px rgb(0 0 0 / 20%);
  border-radius: 1rem;
  backdrop-filter: blur(10px);*/
  padding: 0.1rem 1rem;
  margin: 1rem 1rem;
  transition: 0.2s all ease;
}

.sidebar .main ul li:hover {
  /* background-color: #325d9e; */
  border-bottom: 2px solid #093d89;
  border-top: 2px solid #1ce6d2;
  border-radius: 1rem;
  transform-origin: left;
}

.sidebar .main ul li a {
  /* list-style: none; */
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #fff;
}

.sidebar .main ul li:hover .articon {
  cursor: pointer;
}

.sidebar .main .articon {
  width: 2.8rem;
  /* background-color: #fff; */
  margin: 0.1rem;
  /* border-radius: 1rem; */
}

.sidebar::after {
  content: '';
  width: 80px;
  height: 80px;
  background: #1ce6d2;
  clip-path: circle(50%);
  z-index: -1;
  position: absolute;
  top: 2%;
  left: 0%;

}

.sidebar::before {
  content: '';
  width: 50px;
  height: 50px;
  background: #1ce6d2;
  clip-path: circle(50%);
  z-index: -1;
  position: absolute;
  bottom: 2%;
  right: 1%;

}

.home {
  /* position: absolute;
  left: 0%; */
  width: 92vw;
  min-height: 85vh;
  height: auto;
  padding: 1rem;
  display: flex;
  /* flex-wrap: wrap; */
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
}

.home .left .heading {
  color: var(--Secondary);
  font-weight: 400;
}

.home .left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-left: 2rem;
}

.home>* {
  padding: 0.2rem 2rem;
}

.home .left .heading h2 {
  font-weight: 400;
  font-size: 2.4rem;
  margin-bottom: 0.1rem;
  /* padding: 0.2rem 1rem; */
}

.home .left .heading h3 {
  font-weight: 400;
  font-size: 2.0rem;
  margin-bottom: 0.1rem;
  /* padding: 0.2rem 1rem; */
}

.home .left .heading h4 {
  font-weight: 400;
  font-size: 1.8rem;
  margin-bottom: 0.1rem;
  /* padding: 0.2rem 1rem; */
}

.home .right .card {
  width: 40vw;
  height: 60vh;
  overflow: hidden;
  /* padding: 1rem; */
  /* border: 10px solid black; */
}

.home .right .card .art {
  width: 100%;
  height: 100%;
}

/* .login{
  height: 70vh;
  width: 100vw;
  position: relative;
} */
.login-box button {
  display: flex;
  justify-content: center;
  align-items: center;

}

.login-box {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 90%;
  min-height: 100vh;
  height: auto;
  padding: 40px;
  transform: translate(-50%, -50%);
  background: rgba(24, 20, 20, 0.987);
  /* box-sizing: border-box; */
  box-shadow: 0 15px 25px rgba(0, 0, 0, .6);
  border-radius: 10px;
  /* min-height: 80vh; */
}

.login-box .user-box {
  position: relative;
}

.login-box .user-box input {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
}

.login-box .user-box label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 0;
  font-size: 2rem;
  color: #fff;
  pointer-events: none;
  transition: .5s;
}

.profpic {
  border-radius: 12rem;
  width: 20%;
  height: 100%;
  border-radius: 1px solid plum;
}
.user .funKcard a{
  text-decoration: none;
}
.user .funKcard .card {
  max-width: 190px;
  max-height: 474px;
  background: white;
  padding: .4em;
  border-radius: 6px;
  margin: 1rem;
}

.user  .funKcard .card-image {
  /* background-color: rgb(236, 236, 236); */
  /* width: 80%;
  height: 60%; */
  max-height: 50%;
  /* object-fit: cover; */
  border-radius: 6px 6px 0 0;
  position: relative;
}
.user  .funKcard{
  display: flex;
}
.user  .funKcard .card-image img {
  position: absolute;
  background-color: rgb(236, 236, 236);
  /* width: 10%;
  height: 10%; */
  max-width: 100%;
    height: auto; /* Optional: preserves aspect ratio of image */
  /* object-fit: contain; */
  border-radius: 6px 6px 0 0;
}

.funKcard .card-image:hover {
  transform: scale(0.98);
}

.funKcard .category {
  text-transform: uppercase;
  font-size: 0.7em;
  font-weight: 600;
  color: rgb(63, 121, 230);
  padding: 10px 7px 0;
}

.funKcard .category:hover {
  cursor: pointer;
}

.funKcard .heading {
  font-weight: 600;
  color: rgb(88, 87, 87);
  padding: 7px;
}

.funKcard .heading:hover {
  cursor: pointer;
}

.funKcard .author {
  color: gray;
  font-weight: 400;
  font-size: 11px;
  padding-top: 20px;
}

.funKcard .name {
  font-weight: 600;
}

.funKcard .name:hover {
  cursor: pointer;
}

.login-box .profpic {
  top: 2%;
  /* left: 40%; */
  width: 100px;
  height: 100px;
  /* object-fit: contain; */
  border: 2px solid red;
  border-radius: 5rem;
  position: relative;
  margin: 1rem 0;
}

.login-box .profpic img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5rem;
}

.login-box .user-box input:focus~label,
.login-box .user-box input:valid~label {
  top: -20px;
  left: 0;
  color: #bdb8b8;
  font-size: 1rem;
}

.login-box .newinput input:focus~label,
.login-box .newinput input:valid~label {
  top: -20px;
  left: 0;
  color: #bdb8b8;
  font-size: 1rem;
}

.login-box form a {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  color: #ffffff;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: .5s;
  margin-top: 40px;
  letter-spacing: 4px
}

.login-box a:hover {
  background: plum;
  color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px plum,
    0 0 25px plum,
    0 0 50px plum,
    0 0 100px plum;
}

.login-box a span {
  position: absolute;
  display: block;
}

@keyframes btn-anim1 {
  0% {
    left: -100%;
  }

  50%,
  100% {
    left: 100%;
  }
}

.about {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.about .boxl h2 {
  font-size: 2.8rem;
  font-weight: 400;
}

.about .boxl .imgboxl {
  max-width: 100vw;
  padding: 2rem;
  /* display: flex;
  justify-content: center;
  align-items: center; */
}

.about .boxl .imgl {
  /* max-width: 70vw; */
  width: 600px;
  box-shadow: 0 15px 25px rgba(0, 0, 0, .6);
  border-radius: 12px;
}

.about .boxl p {
  font-size: 1.2rem;
  font-weight: 400;
}

.about .iconx {
  font-size: 2rem;
}

.about .boxl {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  justify-content: flex-start;
}

.about .boxl .art {
  width: 400px;
}

.login-box a span:nth-child(1) {
  bottom: 2px;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #03f40f);
  animation: btn-anim1 2s linear infinite;
}

/* .footer{
  position: absolute;
  bottom: 0%;
} */
.footer .links li {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.footer a{
  text-decoration: none;
  color: inherit;
}

.Details {
  min-height: 100vh;
  height: auto;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.boxr {
  min-width: 20vw;
}

.boxr .art {
  width: 100%;
}

/* Loader css */
.loadingspinner {
  --square: 26px;
  --offset: 30px;
  --duration: 2.4s;
  --delay: 0.2s;
  --timing-function: ease-in-out;
  --in-duration: 0.4s;
  --in-delay: 0.1s;
  --in-timing-function: ease-out;
  width: calc(3 * var(--offset) + var(--square));
  height: calc(2 * var(--offset) + var(--square));
  padding: 0px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 30px;
  position: relative;
}

.loadingspinner div {
  display: inline-block;
  background: darkorange;
  /*background: var(--text-color);*/
  /*box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);*/
  border: none;
  border-radius: 2px;
  width: var(--square);
  height: var(--square);
  position: absolute;
  padding: 0px;
  margin: 0px;
  font-size: 6pt;
  color: black;
}

.loadingspinner #square1 {
  left: calc(0 * var(--offset));
  top: calc(0 * var(--offset));
  animation: square1 var(--duration) var(--delay) var(--timing-function) infinite,
    squarefadein var(--in-duration) calc(1 * var(--in-delay)) var(--in-timing-function) both;
}

.loadingspinner #square2 {
  left: calc(0 * var(--offset));
  top: calc(1 * var(--offset));
  animation: square2 var(--duration) var(--delay) var(--timing-function) infinite,
    squarefadein var(--in-duration) calc(1 * var(--in-delay)) var(--in-timing-function) both;
}

.loadingspinner #square3 {
  left: calc(1 * var(--offset));
  top: calc(1 * var(--offset));
  animation: square3 var(--duration) var(--delay) var(--timing-function) infinite,
    squarefadein var(--in-duration) calc(2 * var(--in-delay)) var(--in-timing-function) both;
}

.loadingspinner #square4 {
  left: calc(2 * var(--offset));
  top: calc(1 * var(--offset));
  animation: square4 var(--duration) var(--delay) var(--timing-function) infinite,
    squarefadein var(--in-duration) calc(3 * var(--in-delay)) var(--in-timing-function) both;
}

.loadingspinner #square5 {
  left: calc(3 * var(--offset));
  top: calc(1 * var(--offset));
  animation: square5 var(--duration) var(--delay) var(--timing-function) infinite,
    squarefadein var(--in-duration) calc(4 * var(--in-delay)) var(--in-timing-function) both;
}

@keyframes square1 {
  0% {
    left: calc(0 * var(--offset));
    top: calc(0 * var(--offset));
  }

  8.333% {
    left: calc(0 * var(--offset));
    top: calc(1 * var(--offset));
  }

  100% {
    left: calc(0 * var(--offset));
    top: calc(1 * var(--offset));
  }
}

@keyframes square2 {
  0% {
    left: calc(0 * var(--offset));
    top: calc(1 * var(--offset));
  }

  8.333% {
    left: calc(0 * var(--offset));
    top: calc(2 * var(--offset));
  }

  16.67% {
    left: calc(1 * var(--offset));
    top: calc(2 * var(--offset));
  }

  25.00% {
    left: calc(1 * var(--offset));
    top: calc(1 * var(--offset));
  }

  83.33% {
    left: calc(1 * var(--offset));
    top: calc(1 * var(--offset));
  }

  91.67% {
    left: calc(1 * var(--offset));
    top: calc(0 * var(--offset));
  }

  100% {
    left: calc(0 * var(--offset));
    top: calc(0 * var(--offset));
  }
}

@keyframes square3 {

  0%,
  100% {
    left: calc(1 * var(--offset));
    top: calc(1 * var(--offset));
  }

  16.67% {
    left: calc(1 * var(--offset));
    top: calc(1 * var(--offset));
  }

  25.00% {
    left: calc(1 * var(--offset));
    top: calc(0 * var(--offset));
  }

  33.33% {
    left: calc(2 * var(--offset));
    top: calc(0 * var(--offset));
  }

  41.67% {
    left: calc(2 * var(--offset));
    top: calc(1 * var(--offset));
  }

  66.67% {
    left: calc(2 * var(--offset));
    top: calc(1 * var(--offset));
  }

  75.00% {
    left: calc(2 * var(--offset));
    top: calc(2 * var(--offset));
  }

  83.33% {
    left: calc(1 * var(--offset));
    top: calc(2 * var(--offset));
  }

  91.67% {
    left: calc(1 * var(--offset));
    top: calc(1 * var(--offset));
  }
}

@keyframes square4 {
  0% {
    left: calc(2 * var(--offset));
    top: calc(1 * var(--offset));
  }

  33.33% {
    left: calc(2 * var(--offset));
    top: calc(1 * var(--offset));
  }

  41.67% {
    left: calc(2 * var(--offset));
    top: calc(2 * var(--offset));
  }

  50.00% {
    left: calc(3 * var(--offset));
    top: calc(2 * var(--offset));
  }

  58.33% {
    left: calc(3 * var(--offset));
    top: calc(1 * var(--offset));
  }

  100% {
    left: calc(3 * var(--offset));
    top: calc(1 * var(--offset));
  }
}

@keyframes square5 {
  0% {
    left: calc(3 * var(--offset));
    top: calc(1 * var(--offset));
  }

  50.00% {
    left: calc(3 * var(--offset));
    top: calc(1 * var(--offset));
  }

  58.33% {
    left: calc(3 * var(--offset));
    top: calc(0 * var(--offset));
  }

  66.67% {
    left: calc(2 * var(--offset));
    top: calc(0 * var(--offset));
  }

  75.00% {
    left: calc(2 * var(--offset));
    top: calc(1 * var(--offset));
  }

  100% {
    left: calc(2 * var(--offset));
    top: calc(1 * var(--offset));
  }
}

.login-box .grd-back .NFTlist {
  min-height: 50vh;
}

.login-box .Nftcard .card-body {
  max-width: 526px;
  max-height: 500px;
  position: relative;
}

.login-box .Nftcard .card-body .card-image {
  width: 40px;
  height: 50px;
}

.NfTcontainer {
  width: 80vw;
  display: flex;
  justify-content: flex-start;
  /* align-items: center; */
  flex-direction: row;
}

.NfTcontainer .text-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.NfTcontainer .text-center a {
  text-decoration: none;
  color: black;
}

.listing {
  display: flex;
  flex-wrap: wrap;
  width: 80vw;
  height: 100vh;

}

.NfTcontainer .NFTlist {
  /* width: 40vw; */
  /* height: 80vh; */
  display: flex;
  flex-direction: row;
}

.NfTcontainer .NFTlist .Nftcard {
  width: 190px;
  height: 254px;
  /* margin: 0 auto; */
  background-color: #011522;
  border-radius: 18px;
  z-index: 1;
  margin: 1rem;
  padding: 1rem;
  color: #fff;
}

.NfTcontainer .NFTlist .Nftcard a {
  text-decoration: none;
  color: #fff;
  cursor: none;
}

.NfTcontainer .NFTlist .Nftcard .card-image {
  width: 150px;
  height: 120px;
  border-radius: 1rem;
  background-color: #fff;
}

.user {
  width: 80vw;
  min-height: 100vh;
  border-radius: 1rem;
  background: rgba(24, 20, 20, 0.987);
  box-shadow: 0 15px 25px rgb(0 0 0 / 60%);
  border-radius: 10px;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1rem 0;
  
}

.user button a {
  text-decoration: none;
  color: #011522;
}

.user h1,
h2 {
  font-weight: 200;
}

.user .profpic {
  height: 100px;
  width: 100px;
  position: relative;
  border: 2px solid #fff;
}

.user .profpic img {
  width: 100%;
  height: 100%;
  border-radius: 20rem;
}

@keyframes squarefadein {
  0% {
    transform: scale(0.75);
    opacity: 0.0;
  }

  100% {
    transform: scale(1.0);
    opacity: 1.0;
  }
}

table {

  /* border: 2px solid rgb(255, 255, 255); */
  width: 80%;
  min-height: 100px;
  /* background-color: #000000; */
  /* border: 1px solid black; */

}
/* tr:nth-child(even){background-color: #4c4a4a;} */
th {
  border: 1px solid rgb(255, 255, 255);
  padding: 1rem;
  /* border-radius: 12px; */
}

td {
  text-align: center;
  padding: 1rem;
}
tr:hover {background-color: rgb(31, 194, 215);}
.Stats {
  width: 80vw;
  min-height: 100vh;
  height: auto;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Stats h2 {
  font-weight: 400;
  font-size: 2.8rem;
}

.adx {
  width: 100vw;
  height: 120vh;
}

.Stats .cardx {
  display: flex;
  justify-content: space-between;
  width: 80vw;
  flex-wrap: wrap;
}

.Stats .card {
  width: 200px;
  min-height: 154px;
  margin: 0 auto;
  margin-bottom: 1rem;
  background-color: #011522;
  border-radius: 8px;
  z-index: 1;
}

.Stats .card .card__content {
  padding: 1rem;
}

.Stats .card .card__content h2 {
  font-weight: 400;
  font-size: 1.2rem;
}

.Stats .tools {
  display: flex;
  align-items: center;
  padding: 9px;
}

.Stats .circle {
  padding: 0 4px;
}

.Stats .box {
  display: inline-block;
  align-items: center;
  width: 10px;
  height: 10px;
  padding: 1px;
  border-radius: 50%;
}

.Stats .red {
  background-color: #ff605c;
}

.Stats .yellow {
  background-color: #ffbd44;
}

.Stats .green {
  background-color: #00ca4e;
}

.MintNFT {
  background-color: #00ca4e;
}

.MintButton {
  text-align: center;
}

.Mintbtn input {
  background-color: #00ca4e;
  color: #00ca4e;
  z-index: 1000000;
  border: 1rem solid black;
}

.form-container {
  /* background-color: #011522; */
  margin: 1rem;
  padding: 1rem;
  max-width: 90vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-container input,
select,
textarea {
  /* background-color: #011522; */
  /* margin: 1rem; */
  padding: 0.2rem;
  border-radius: 1rem;
  outline: none;
  border: 0px;
  min-width: 280px;
}

.form-container input,
select,
textarea {
  font-size: 100%;
  padding: 0.8em;
  outline: none;
  border: 2px solid rgb(200, 200, 200);
  /* background-color: transparent; */
  border-radius: 20px;
  width: 100%;
}

.form-container label {
  font-size: 100%;
  position: absolute;
  left: 0;
  padding: 0.8em;
  margin-left: 0.5em;
  pointer-events: none;
  transition: all 0.3s ease;
  color: rgb(100, 100, 100);
}

@media only screen and (max-width: 600px) {
  body {
    overflow: hidden;
  }

  .app {
    justify-content: center;
    align-items: center;
  }

  .home {
    max-width: 100vw;
    flex-wrap: wrap-reverse;
   

  }

  .home .right .card {
    /* display: none; */
    height: 25vh;
    /* z-index: -1; */
  }

  .home .left {
    z-index: 1;
    padding-left: 0%;
    margin-left: 0%;
  }

  .mx .navbar {
    max-width: 100vw;
    /* background: black; */
  }
  .mx .navbar .box{
    margin-left: 1rem;
  }
  .navbar .list a {
    display: none;
  }

  .footer {
    max-width: 100vw;
  }

  .footer .upper {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .footer .upper>* {
    padding: 1rem 0;
  }

  .footer .newseletter {
    padding: 1rem;
  }

  .about {
    flex-wrap: wrap;

  }

  .about .boxl .imgl {
    /* max-width: 70vw; */
    width: 320px;
  }

  .about .boxr {
    display: none;
  }

  .sidebar {
    display: none;
  }
}