@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');
*{
  box-sizing: border-box;
  margin: 0%;
  padding: 0%;
}
html{
  scroll-behavior: smooth;
}
:root{
  --Background--color:#1b1b1b;
  --Primary:#aba9a9;
  --Secondary:#f9f9f9;
  --Tertiary:#b02970;
}
.app{
  min-height: 100vh;
  width: 100vw;
  background-color: var(--Background--color);
}
.home{
  width: 100vw;
  min-height: 80vh;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.home .left .heading{
  color: var(--Secondary);
  font-weight: 400;
}
.home .left{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-left: 2rem;
}
.home .left .heading h2{
  font-weight: 400;
  font-size: 2.4rem;
  margin-bottom: 0.1rem;
  padding: 0.2rem 1rem;
}
.home .left .heading h3{
  font-weight: 400;
  font-size: 2.0rem;
  margin-bottom: 0.1rem;
  padding: 0.2rem 1rem;
}
.home .left .heading h4{
  font-weight: 400;
  font-size: 1.8rem;
  margin-bottom: 0.1rem;
  padding: 0.2rem 1rem;
}